<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
		
<beans>
    <bean id="e1" class="beans.Engine">
      <property name="modelyear" value="2013"/>
    </bean>
    <bean id="e2" class="beans.Engine">
      <property name="modelyear" value="2014"/>
    </bean>
    <bean id="e3" class="beans.Engine">
      <property name="modelyear" value="2015"/>
    </bean>
    
    <bean id="c" class="beans.Car">
       <property name="carnames">
           <list>
               <value>Audi</value>
               <value>Porsche</value>
               <value>Lamborgini</value>
           </list>    
       </property> 
     
 <!-- Secondary type: array of engines(class) -->
 
       <property name="engines">
        <list>
            <ref bean="e1"/>
            <ref bean="e2"/>
            <ref bean="e3"/>
        </list>   
       </property>
     </bean>
</beans>		
		